<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mouse.site.dao.SiteDao" >
  <resultMap id="BaseResultMap" type="com.mouse.site.pojo.Site">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="site_url" jdbcType="VARCHAR" property="siteUrl" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="site_status" jdbcType="INTEGER" property="siteStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="creat_user" jdbcType="VARCHAR" property="creatUser" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="DATE" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_code, site_name, icon_url, site_url, class_id, class_name, site_status, 
    status, remarks, creat_time, creat_user, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from site
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from site
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mouse.site.pojo.Site">
    insert into site (id, site_code, site_name, 
      icon_url, site_url, class_id, 
      class_name, site_status, status, 
      remarks, creat_time, creat_user, 
      modifier, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{siteCode,jdbcType=VARCHAR}, #{siteName,jdbcType=VARCHAR}, 
      #{iconUrl,jdbcType=VARCHAR}, #{siteUrl,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, 
      #{className,jdbcType=VARCHAR}, #{siteStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{creatTime,jdbcType=DATE}, #{creatUser,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.mouse.site.pojo.Site">
    insert into site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="siteCode != null">
        site_code,
      </if>
      <if test="siteName != null">
        site_name,
      </if>
      <if test="iconUrl != null">
        icon_url,
      </if>
      <if test="siteUrl != null">
        site_url,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="siteStatus != null">
        site_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="creatUser != null">
        creat_user,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null">
        #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null">
        #{siteStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
      <if test="creatUser != null">
        #{creatUser,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mouse.site.pojo.Site">
    update site
    <set>
      <if test="siteCode != null">
        site_code = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null">
        site_url = #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null">
        site_status = #{siteStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=DATE},
      </if>
      <if test="creatUser != null">
        creat_user = #{creatUser,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mouse.site.pojo.Site">
    update site
    set site_code = #{siteCode,jdbcType=VARCHAR},
      site_name = #{siteName,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      site_status = #{siteStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=DATE},
      creat_user = #{creatUser,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.mouse.mt.pojo.Site">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_url" jdbcType="VARCHAR" property="siteUrl" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="site_status" jdbcType="TINYINT" property="siteStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="creat_user" jdbcType="VARCHAR" property="creatUser" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_code, site_name, site_url, class_id, class_name, site_status, status, remarks, 
    creat_time, creat_user, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from site
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from site
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mouse.mt.pojo.Site">
    insert into site (id, site_code, site_name, 
      site_url, class_id, class_name, 
      site_status, status, remarks, 
      creat_time, creat_user, modifier, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{siteCode,jdbcType=VARCHAR}, #{siteName,jdbcType=VARCHAR}, 
      #{siteUrl,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, 
      #{siteStatus,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{remarks,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{creatUser,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mouse.mt.pojo.Site">
    insert into site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="siteCode != null">
        site_code,
      </if>
      <if test="siteName != null">
        site_name,
      </if>
      <if test="siteUrl != null">
        site_url,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="siteStatus != null">
        site_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="creatUser != null">
        creat_user,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null">
        #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null">
        #{siteStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatUser != null">
        #{creatUser,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mouse.mt.pojo.Site">
    update site
    <set>
      <if test="siteCode != null">
        site_code = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteName != null">
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null">
        site_url = #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null">
        site_status = #{siteStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatUser != null">
        creat_user = #{creatUser,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mouse.mt.pojo.Site">
    update site
    set site_code = #{siteCode,jdbcType=VARCHAR},
      site_name = #{siteName,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      site_status = #{siteStatus,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      remarks = #{remarks,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      creat_user = #{creatUser,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 站点列表 -->
  <select id="siteList" parameterType="java.util.Map" resultMap="BaseResultMap">
  		select  <include refid="Base_Column_List" /> from site
  		<where>
  			and status = 0
  		</where> 
  </select>
  
  <!-- 逻辑删除   -->
  <update id="siteDel" parameterType="java.lang.String" >
  	 	update site set status = 1 where id = #{id} 
  </update>
</mapper>